---
import Layout from '@/layouts/Layout.astro'
import { experiences, education, skills, publications } from '../data/cv'
import CvTimeline from '@/components/ui/CvTimeline.astro'

import type { Experience, Education, Publication } from '../types/cv'
import List from '@/components/ui/List.astro'
import PublicationsList from '@/components/ui/PublicationsList.astro'
import { template } from '@/settings'

let orderedExperiences: Experience[] = []
let orderedEducations: Education[] = []
let orderedPublications: Publication[] = []

const orderElement = <T extends { time: string }>(a: T, b: T) => {
  const presentValues = ['present', 'now', 'current', 'today']
  if (
			presentValues.includes(
				(a['time'] as string)?.split(' - ')[1]?.toLowerCase()
			)
		) {
			// If the date is 'present', it should be the first element
			return -1
		}
		const dateA = new Date((a['time'] as string)?.split(' - ')[1])
		const dateB = new Date((b['time'] as string)?.split(' - ')[1])
		return dateB.getTime() - dateA.getTime()
}

if (experiences.length > 0) {
	orderedExperiences = experiences.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (education.length > 0) {
	orderedEducations = education.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (publications.length > 0) {
	orderedPublications = publications.sort((a, b) => {
		return orderElement(a, b)
	})
}
---

<Layout>
	<div class='mb-8 flex justify-between items-center'>
		<h1 class='text-3xl font-bold'>Curriculum Vitae</h1>
		<a
			href={`${template.base}/Rory-Resume.pdf`}
			download
			class='btn btn-secondary'
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-5 w-5 mr-2"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
				/>
			</svg>
			Download PDF
		</a>
	</div>

	{
		orderedEducations.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Education
				</h2>
				<CvTimeline elements={orderedEducations} colored={true} />
			</section>
		)
	}

	{
		orderedExperiences.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Experiences
				</h2>
				<CvTimeline elements={orderedExperiences} colored={true} />
			</section>
		)
	}

	{
		orderedPublications.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Last publications
				</h2>
				<PublicationsList elements={orderedPublications}/>
			</section>
		)
	}

	{
		skills.length > 0 && (
			<section class='mb-12'>
				<List listTitle='Skills' listItems={skills}/>
			</section>
		)
	}
</Layout>
